<%- include('parts/html-head.ejs') %> 
<%- include('parts/nav.ejs') %> 


<div class="container">
    <h2><%= name %></h2>
    
</div>
<%- include('parts/script.ejs') %> 
<%- include('parts/html-foot.ejs') %> 